@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* font-family: 'DM Sans', sans-serif; */

*,
*::after, 
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

ul, li{
   list-style: none; 
}

a{
    text-decoration: none;
}

body{
	font-family: 'DM Sans', sans-serif;
}

hr{
	height: 1px;
	background-color: var(--horizontal-bar);
	border: none;
}

/* ---------------------------- VARIABLES ---------------------------- */

:root{
	--background: #F4F5F7;
	--nav-background: #FFFFFF;
	--nav-border: #DADEE2;
	--horizontal-bar: #D4D3D4;
	--searchbox-border: #DFE1E6;
	--progress-bar-green: #038B00;
	--progress-bar-grey: #514A0F;

	--text-color-1: #42526E;
	--text-color-2: #7A869A;
	--text-color-3: #525F75;
	--text-color-4: #979797;
	--text-blue: #0052CC;
	--text-yellow: #5B4C0D;
	--text-yellow-2: #514A0F;
	--text-purple: #403294;
	--text-green: #006644;
	--text-red:	#BF2600;

	--highlight-yellow: #FFF0B3;
	--highlight-yellow-2: #FFFACB;
	--highlight-purple: #EAE6FF;
	--highlight-green: #E3FCEF;
	--highlight-red: #FFEBE6;

	--whatsapp-background: #254142;
	--whatsapp-border: #254142;
}